
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-mobile-alt:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-tools:before { content: '\e804'; } /* '' */